* {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1060px;
	margin: auto;
}

/* MENU */
.menu {
    height: 56px;
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(rgb(220,220,220)));
    background: -webkit-linear-gradient(rgb(240,240,240), rgb(220,220,220));
    background: -moz-linear-gradient(rgb(240,240,240), rgb(220,220,220));
    background: -o-linear-gradient(rgb(240,240,240), rgb(220,220,220));
    background: linear-gradient(rgb(240,240,240), rgb(220,220,220));
	-webkit-box-shadow: 0px -15px 60px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -15px 60px 5px rgba(0,0,0,0.75);
	box-shadow: 0px -15px 60px 5px rgba(0,0,0,0.75);
	position: relative;
	z-index: 4;
}

.menu-container {
	position: relative;
	height: 100%;
}

.menu-logo {
	margin-top: 10px;
}

.menu-cart {
	float: right;
	width: 56px;
	height: 56px;
	background: #fff;
	display: table;
	text-align: center;
	border-left: 1px solid rgb(209,209,209);
	border-right: 1px solid rgb(209,209,209);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
   	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.menu-cart:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
	background: -webkit-linear-gradient(#efefef, #fff);
	background: -moz-linear-gradient(#efefef, #fff);
	background: -o-linear-gradient(#efefef, #fff);
	background: linear-gradient(#efefef, #fff);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	        box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.menu-cart--icon, .menu-cart .menu-cart--counter {
	display: table-cell;
	vertical-align: middle;
}

.menu-cart .menu-cart--counter {
 	text-align: left;
}

.menu-cart-checkout {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 370px;
	background: #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-left: 1px solid rgb(209,209,209);
	border-right: 1px solid rgb(209,209,209);
	border-bottom: 1px solid rgb(209,209,209);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	        box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.menu-cart-checkout.is-active {
	display: block;
}

.menu-cart-checkout-control {
	padding: 10px;
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-bottom: 1px solid rgb(228,228,228);
}

.menu-cart-checkout-control > div {
	display: table-cell;
	vertical-align: middle;
}

.menu-cart-checkout-control--price {
	text-align: right;
	padding-right: 10px;
}

.menu-cart-checkout-control--clear {
	width: 130px;
}

.menu-cart-checkout-control--clear-button {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: rgb(0,145,95);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(182,90,226)), to(rgb(123,61,198)));
	background: -webkit-linear-gradient(rgb(182,90,226), rgb(123,61,198));
	background: -moz-linear-gradient(rgb(182,90,226), rgb(123,61,198));
	background: -o-linear-gradient(rgb(182,90,226), rgb(123,61,198));
	background: linear-gradient(rgb(182,90,226), rgb(123,61,198));
	border: 2px solid rgb(126,83,178);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	cursor: pointer;	
}

.menu-cart-checkout-control--clear-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(123,61,198)), to(rgb(182,90,226)));
	background: -webkit-linear-gradient(rgb(123,61,198), rgb(182,90,226));
	background: -moz-linear-gradient(rgb(123,61,198), rgb(182,90,226));
	background: -o-linear-gradient(rgb(123,61,198), rgb(182,90,226));
	background: linear-gradient(rgb(123,61,198), rgb(182,90,226));
}

.menu-cart-checkout-item {
	padding: 6px;
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-bottom: 1px solid rgb(228,228,228);
	cursor: pointer;
}

.menu-cart-checkout-item > div {
	display: table-cell;
	vertical-align: middle;
}

.menu-cart-checkout-item--img {
	width: 100px;
}

.menu-cart-checkout-item--title {
	padding: 0 5px;
}

.menu-cart-checkout-item--title p {
	margin-top: 0;
	margin-bottom: 4px;
	color: rgb(80,80,80);
}

.menu-cart-checkout-item--remove {
	text-transform: none;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	color: rgb(130,130,130);
	display: none;
}

.menu-cart-checkout-item:hover .menu-cart-checkout-item--remove {
	display: inline-block;
}

.menu-cart-checkout-item--price {
	white-space: nowrap;
	color: rgb(125,125,125);
	text-align: right;
}

/* MAIN */
.main {
	padding: 40px 0;
	background: rgb(194,194,194);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(180,175,187)), to(rgb(194,194,194)));
	background: -webkit-linear-gradient(rgb(180,175,187), rgb(194,194,194));
	background: -moz-linear-gradient(rgb(180,175,187), rgb(194,194,194));
	background: -o-linear-gradient(rgb(180,175,187), rgb(194,194,194));
	background: linear-gradient(rgb(180,175,187), rgb(194,194,194));
}

.main-title {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
}

.main-key-visual {
	position: relative;
	margin-bottom: 20px;
	min-height: 380px;
}

.main-key-visual img {
	position: relative;
	z-index: 3;
}

.main-key-visual--secret-button {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	   -moz-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	     -o-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 390px;
	height: 40px;
	line-height: 40px;
	background: rgb(0,145,95);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,199,140)), to(rgb(0,145,95)));
	background: -webkit-linear-gradient(rgb(0,199,140), rgb(0,145,95));
	background: -moz-linear-gradient(rgb(0,199,140), rgb(0,145,95));
	background: -o-linear-gradient(rgb(0,199,140), rgb(0,145,95));
	background: linear-gradient(rgb(0,199,140), rgb(0,145,95));
	border: 2px solid rgb(35,128,96);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}

/* MAIN - offers */
.main-box-offers {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	   -moz-box-orient: horizontal;
	   -moz-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-box-offers--item {
	width: 196px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background: rgb(226,226,226);
	padding-bottom: 8px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	        box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.main-box-offers--item .main-box-offers--item-content-title {
	margin-top: 0;
	font-size: 14px;
	height: 32px;
}

.main-box-offers--item-content {
	padding: 8px 10px 0;
}

.main-box-offers--item-content__price {
	float: right;
    border: 1px solid rgb(169,169,169);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: rgb(117,117,117);
    font-size: 12px;
    padding: 5px 10px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
            box-shadow: 0 1px 5px rgba(0,0,0,.15);
    cursor: pointer;
   	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-box-offers--item-content__price:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
	background: -webkit-linear-gradient(#efefef, #fff);
	background: -moz-linear-gradient(#efefef, #fff);
	background: -o-linear-gradient(#efefef, #fff);
	background: linear-gradient(#efefef, #fff);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	        box-shadow: 0 1px 5px rgba(0,0,0,.15);	
}

.main-box-offers--item-content__badge {
	float: right;
	margin-right: 5px;
	background: rgb(0,145,95);
	border: 1px solid rgb(35,128,96);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	color: #fff;
	font-size: 12px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	        box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.main-box-offers--item.is-owned .main-box-offers--item-content {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.main-box-offers--item.is-owned .main-box-offers--item-content-title {
	color: rgb(117,117,117);
}